body {
  
}



#top {
  margin: 0 auto;
  text-align:center;
  color:white;
}

.icon {
    fill:white;
}


.logo {
  font-size: 55px;
  font-family: 'Syne Mono', monospace;
  text-align: center;
  margin: 0 auto;
  color:white;
}


header .icon {
  color:white;
  text-align: center;

}

